{% extends "layout.html" %}

{% block page_title %}
  Churchill
{% endblock %}


{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Tool for policy makers
      </h1>
      <p class="text">Churchill aims to support Policy Makers to safely explore data by geography, time and characteristics. To help them determine what questions to ask next and focus communication with analysts.</p>
    </div>
  </div>
  <br/>
  <div class="grid-row">
    <div class="column-one-third">
      <form method="post">
        <div class="search">
          <label for="search-box" class="form-label">
            <span class="heading-small">
              Search by local authority
            </span>
          </label>

          <input type="search" class="form-control search-box" id="search-box"
            name="nino" autocomplete="off" value="{{nino if nino}}" />

        </div>
      </form>

      <form class="full">
        <div class="form-group full">
          <fieldset>
          <legend>
            <span class="form-label-bold hidden">
              What is your date of birth?
            </span>
          </legend>
          <div class="form-date full">
            <div class="date-from form-group">
              <label class="form-label-bold" for="date-from">From</label>
              <input class="form-control" id="date-from" name="date-from" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="from-year-hint">
            </div>

            <div class=" date-to form-group">
              <label class="form-label-bold" for="date-to">To</label>
              <input class="form-control" id="date-to" name="date-to" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
          </div>
          </fieldset>
        </div>
      </form>

      <div class="form-group">
        <label class="form-label-bold" for="select-box">Metric</label>
        <select class="form-control full" id="select-box">
          <option>Number</option>
          <option>Count</option>
          <option>%</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="select-box">Characteristic</label>
        <select class="form-control full" id="select-box">
          <option>Age</option>
          <option>Sex</option>
          <option>Sector</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="select-box">Sub-characteristic</label>
        <select class="form-control full" id="select-box">
          <option>21-25yr olds</option>
          <option>Females</option>
          <option>Agriculture</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="select-box">Subject area</label>
        <select class="form-control full" id="select-box">
          <option>JSA</option>
          <option>Labour market</option>
        </select>
      </div>

      <a class="button" href="single-results">
        Search
      </a>



    </div>

    <div class="column-two-thirds">
<img src="https://api.mapbox.com/styles/v1/gavinelliott/ciwm0q8pl000n2qqy4a6gwckc/static/-4.449639,54.846584,5.01,0.00,0.00/600x800@2x?access_token=pk.eyJ1IjoiZ2F2aW5lbGxpb3R0IiwiYSI6InpsNjRLaW8ifQ.pW73OAybo-kg6PlWdDE-qw" width="600"height="800"alt="Basic" />
      <!--<img src="/public/images/map.png" alt="Map" style="width: 100%;"/>-->
    </div>
  </div>
</main>

{% endblock %}
